/* importo la fuente desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    /* es para que los dibujos no acumulen espacios, es decir que respete los tamaños
    de cada objeto. asigno el tamaño final  y todo lo que se agrega se descuenta, como
    padding, border, margin, etc. */
    box-sizing: border-box;
}

body {
    margin: 0px;
    /* se aplica a todo el documento las excepciones
    estarán en el lugar correspondiente */
}

/* aplicar a todo el header el color de fonde no se vera cortado*/
header {
    background-color: aquamarine;
    /* altura del header */
    height: 50px;
    /* doy padding solo a la parte superior del header */
    padding-top: 5px;
}


/* etiqueta que contiene a otra. Aplicar todo lo que esta dentro de header tal cosa */
header * {
    display: inline;
    /* el color solo aplicará a cada objeto interno de header y no a todo header */
    /* background-color: aquamarine; */
}

li {
    margin: 5px; 
}

a {
    /* para sacarle la decoracion del subrayado del enlace html */
    text-decoration: none;
    color:black;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.logo {
    margin-left: 20px;
    /* fuente desde light (finita) hasta bold (gruesa) */
    /* font-weight: 700; */

    /* tamaño de la fuente usar valores absolutos en px */
    font-size: 32px;

    /* estilo de fuente normal, cursiva, etc */
    /* font-style: oblique; */

    /* aplico la fuente importada */
    font-family: 'Satisfy', cursive;
}

.secciones {
    /* background-color: red; */
    font-family: 'Lato', sans-serif;
}

.secciones p {

    /* ancho del 70% de la pantalla */
    /* texto justificado  */

    font-family: 'Lato', sans-serif;
    font-weight: 600;
    max-width: 70%;
    text-align: justify;
    /* para centrarlo con margin 
    arriba y abajo cero y de los costados
    automatico */
    margin: 0 auto;
}


.secciones h2 {
    /* solo el titulo h2 de section-1 */
    /* centrar el texto */
    text-align: center;
}

.secciones p::first-letter {
    font-size:3em;
	font-family: 'Lato', sans-serif;
    font-weight: 800;
	margin:0px 0px 0px 4px;
	float:left;
    padding: 0px 5px 0px 0px;
    font-style: oblique;    
} 