/* importo la fuente desde google fonts */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    /* es para que los dibujos no acumulen espacios, es decir que respete los tamaños
    de cada objeto. asigno el tamaño final  y todo lo que se agrega se descuenta, como
    padding, border, margin, etc. */
    box-sizing: border-box;
}

body {
    margin: 0px;
    /* se aplica a todo el documento las excepciones
    estarán en el lugar correspondiente */

    /* posicion absoluta para el documento 
    permite que el menu se mantenga pegado arriba
    (header) */
    position: absolute;
}

/* aplicar a todo el header el color de fonde no se vera cortado*/
header {
    background-color: aquamarine;
    /* altura del header */
    height: 50px;
    /* doy padding solo a la parte superior del header */
    padding-top: 5px;
    /* dejar fijo la parte del menu pero se pone
    por encima y no respeta el ancho total*/
    position: fixed;
    /* hay que forzar la grafica de la pagina 
    seteando el ancho por ejemplo*/
    width: 100%;
    /* z-index: 1; */
   
}


/* etiqueta que contiene a otra. Aplicar todo lo que esta dentro de header tal cosa */
header * {
    display: inline;
    /* el color solo aplicará a cada objeto interno de header y no a todo header */
    /* background-color: aquamarine; */
}

li {
    margin: 5px; 
}

a {
    /* para sacarle la decoracion del subrayado del enlace html */
    text-decoration: none;
    color:black;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.logo {
    margin-left: 20px;
    /* fuente desde light (finita) hasta bold (gruesa) */
    /* font-weight: 700; */

    /* tamaño de la fuente usar valores absolutos en px */
    font-size: 32px;

    /* estilo de fuente normal, cursiva, etc */
    /* font-style: oblique; */

    /* aplico la fuente importada */
    font-family: 'Satisfy', cursive;
}

.secciones {
    /* background-color: red; */
    font-family: 'Lato', sans-serif;
}

#special-section {
    /* imagen de fondo */
    background-image: url(./assets/img/pexels-jaymantri-5439.jpg);
    max-width: 500px;
    /* repetir la imagen */
    background-repeat: no-repeat;
    /* centrar la imagen */
    background-position: center;
    /* background-color: red; */
    /* ampliar la imagen a los limites de la seccion */
    background-size: cover;    
    /* z-index es posicionar los objetos si estarán mas arriba o mas abajo de otros objetos,
    en este caso estará arriba de otros objetos */
    z-index: 1;
    /* position sticky para que se vea sobre otros objetos se combina con z-index 
    cuando el z index se iguala da prioridad (está por encima) a la etiqueta de mas abajo*/
    position: sticky;

}

.secciones p {

    /* ancho del 70% de la pantalla */
    /* texto justificado  */

    font-family: 'Lato', sans-serif;
    font-weight: 600;
    max-width: 70%;
    text-align: justify;
    /* para centrarlo con margin 
    arriba y abajo cero y de los costados
    automatico */
    margin: 0 auto;
}


.secciones h2 {
    /* solo el titulo h2 de section-1 */
    /* centrar el texto */
    text-align: center;
    max-width: 70%;
}

.secciones p::first-letter {
    font-size:3em;
	font-family: 'Lato', sans-serif;
    font-weight: 800;
	margin:0px 0px 0px 4px;
	float:left;
    padding: 0px 5px 0px 0px;
    font-style: oblique;    
} 

